data/
.idea/
.idea/misc.xml

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore .DS_Store files
.DS_Store

src/flow.txt
src/ollama.log
src/command_history.txt

src/l2l/input_l2l.txt
src/l2l/output_l2l.txt
src/l2l/train/data/tokenized/*
src/l2l/train/out/*
src/l2l/train/.pixi


src/metaphor_handling/input_mh.txt
src/metaphor_handling/output_mh.txt
src/metaphor_handling/test/IMPLI_Translation_Data
src/metaphor_handling/test/NewsMet_Detection_Data
src/metaphor_handling/test/output
src/metaphor_handling/sbert_sentence_transformer
src/metaphor_handling/logs
src/metaphor_handling/__pycache__
src/metaphor_handling/test/__pycache__

src/oov_handling/input_oov.txt
src/oov_handling/output_oov.txt
src/oov_handling/input_post_oov.txt
src/oov_handling/output_post_oov.txt
src/oov_handling/vocabulary_test.db
src/oov_handling/vocabulary.db
src/oov_handling/stanza_test.py
src/oov_handling/logs/log_53864924.err
src/oov_handling/logs/log_53864924.out
src/oov_handling/__pycache__/oov_handling.cpython-39.pyc
src/oov_handling/__pycache__/post_oov_handling.cpython-39.pyc
src/oov_handling/test/__pycache__/oov_handling_test.cpython-39.pyc
src/oov_handling/test/__pycache__/post_oov_handling_test.cpython-39.pyc

src/policy_extracter/input_pe.txt
src/policy_extracter/output_pe.txt

src/ppara/input_pp.txt
src/ppara/output_pp.txt

src/prover/input_pr.txt
src/prover/output_pr.txt

src/sentence_simplification/input_ss.txt
src/sentence_simplification/output_ss.txt
src/sentence_simplification/logs/ollama.log
src/sentence_simplification/ollama_log.txt
